.DS_Store
.classpath
.gradle
.metadata
.project
.settings
.vagrant

._*

*.class
*.h264
*.idea
*.iml
*.iws
*.jar
*.log
*.mp4
*.mp4

/gradle/
build
gradlew
gradlew.bat
local.properties
playbooks/*.retry
