[Unit]
Description=Eastern Edge Robotics Control Software

[Service]
User={{ ansible_user }}
TimeoutStartSec=0
Restart=on-failure
{% if inventory_hostname in groups['rasprime'] %}
ExecStart=/opt/topside-8.0.0/bin/{{ entry_point }} --broadcast 192.168.88.255 --serial-port /dev/ttyACM0 --baud-rate 115200
{% else %}
ExecStart=/opt/topside-8.0.0/bin/{{ entry_point }} --broadcast 192.168.88.255
{% endif %}

[Install]
WantedBy=multi-user.target
