[Desktop Entry]
Version=2.0
Name=Control Software
Exec=/opt/topside-2.0.0/bin/topside
Path=/opt/topside-2.0.0
Terminal=false
Type=Application
Categories=Application
