[Desktop Entry]
Version=5.0.0
Name=Control Software
Exec=/opt/topside-5.0.0/bin/topside
Path=/opt/topside-5.0.0
Terminal=false
Type=Application
Categories=Application
