[Desktop Entry]
Version=9.0.0
Name=Reset GUI
Exec=/opt/eer-9.0.0/bin/reset-gui
Path=/opt/eer-9.0.0
Terminal=false
Type=Application
Categories=Application